<carousel class="custom-carousel" [isAnimated]="true">
  <slide>
    <img src="../../../../assets/images/01.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Travel</h3>
      <p>- новый адаптивный шаблон сайта</p>
    </div>
  </slide>
  <slide>
    <img src="../../../../assets/images/02.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Поехали</h3>

    </div>
  </slide>
  <slide>
    <img src="../../../../assets/images/03.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">

    </div>
  </slide>
</carousel>
